<a class="pbl-app-li">
  <div class="app-image">
    <div class="img-static-aspect" ng-include data-src="'placeholders/partials/dummy-image.html'"></div>
  </div>

  <div class="app-details">
    <div class="app-header">
      <div class="app-title">
        <span class="app-list-icon"></span>
        <h3 class="text-placeholder-block">▆▆&nbsp;&nbsp;▆▆▆▆▆</h3>
        <div class="app-category text-placeholder-block">▆▆▆▆▆</div>
      </div>
    </div>

    <pre>
      ▆▆&nbsp;&nbsp;▆▆▆▆▆&nbsp;&nbsp;▆▆&nbsp;&nbsp;▆▆▆▆▆
      ▆▆▆▆▆▆&nbsp;&nbsp;▆&nbsp;&nbsp;▆▆▆▆&nbsp;&nbsp;▆▆▆▆
      ▆▆▆▆▆▆&nbsp;&nbsp;▆▆▆▆&nbsp;&nbsp;▆▆▆▆▆&nbsp;&nbsp;
      ▆▆▆▆▆&nbsp;▆▆&nbsp;&nbsp;
    </pre>
  </div>
</a>
